*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    background-color: purple;
    height: 70px;/*navbar er height 70px-80px hobe*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 20px;
     
}
.logo{
    width: 80px;
}
.logo img{
    width: 100%;
}
.right-nav-items ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
main{
    width: 80%;
    margin: auto;
}
footer{
    margin-top: 100px;
}
.location-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addressinfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}